In [1]:
%pip install altair vega_dataset

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement vega_dataset (from versions: none)
ERROR: No matching distribution found for vega_dataset
WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

Collecting altair
  Downloading altair-4.2.0-py3-none-any.whl (812 kB)

In [3]:
import pandas as pd
data= pd.read_csv("Holiday_destinations.csv")
print(data)

       Destination  Feedback_Score  H_Rating  Number of Allinclusive hotels  \
0          Austria               9         4                             34
1         Bulgaria               8         3                              5
2          Croatia               7         4                              7
3           Cyprus               8         3                             24
4   Czech Republic               8         4                             47
5           France               9         5                             63
6          Germany               9         5                             29
7         Michigan               3         4                             19
8           Greece               7         4                             58
9          Hungary               8         3                             12
10         Iceland               6         5                             24
11           Italy              10         4                             72
12           Jersy               8         3                             54
13           Malta               7         4                             61
14     Netherlands               8         4                             59
15          Poland               6         3                              6
16     Switzerland              10         5                             95
17           Spain               9         5                             84
18          Turkey               8         4                             57

   Most visited city
0             Vienna
1              Sofia
2             Zagreb
3           Limassol
4             Prague
5              Paris
6             Berlin
7          Gibraltar
8             Athens
9           Budapest
10          Reykjavk
11            Venice
12     Atlantic City
13          Valletta
14         Amsterdam
15            Krakow
16              Bern
17         Barcelona
18          Istanbul

In [9]:
print("number of rows: "+str(len(data)))
print("number of columns: "+str(len(data.columns)))

number of rows: 19
number of columns: 5

In [13]:
print(data.iloc[3:8])
data.shape

      Destination  Feedback_Score  H_Rating  Number of Allinclusive hotels  \
3          Cyprus               8         3                             24
4  Czech Republic               8         4                             47
5          France               9         5                             63
6         Germany               9         5                             29
7        Michigan               3         4                             19

  Most visited city
3          Limassol
4            Prague
5             Paris
6            Berlin
7         Gibraltar

(19, 5)

In [20]:
print("mean of all inclusive hotels: "+str(round(data["Number of Allinclusive hotels"].mean(),2)))

mean of all inclusive hotels: 42.63

In [22]:
print("Lowest scoring destination: "+str(round(data["Feedback_Score"].min(),2)))
print("Highest scoring destination: "+str(round(data["Feedback_Score"].max(),2)))

Lowest scoring destination: 3
Highest scoring destination: 10

In [43]:
result=data["Number of Allinclusive hotels"]>9
X=data[result]
#X.head(18)
print("List of destinations that have more than 9 number of all inclusive hotels")
X.Destination

List of destinations that have more than 9 number of all inclusive hotels

0            Austria
3             Cyprus
4     Czech Republic
5             France
6            Germany
7           Michigan
8             Greece
9            Hungary
10           Iceland
11             Italy
12             Jersy
13             Malta
14       Netherlands
16       Switzerland
17             Spain
18            Turkey
Name: Destination, dtype: object

In [45]:
print("List of all destinations with Feedback_Score more than 8 ")
result2=data["Feedback_Score"]>8
Y=data[result2]
Y.Destination

List of all destinations with Feedback_Score more than 8

0         Austria
5          France
6         Germany
11          Italy
16    Switzerland
17          Spain
Name: Destination, dtype: object

In [50]:
print("Destinations that have very low Feedback_Score")
result3=data["Feedback_Score"]<6
Z=data[result3]
Z.Destination

Destinations that have very low Feedback_Score

7    Michigan
Name: Destination, dtype: object

In [64]:

df1=pd.DataFrame(data)
print(df1)
#df1.plot(x='Destination',y='Feedback_Score')

       Destination  Feedback_Score  H_Rating  Number of Allinclusive hotels  \
0          Austria               9         4                             34
1         Bulgaria               8         3                              5
2          Croatia               7         4                              7
3           Cyprus               8         3                             24
4   Czech Republic               8         4                             47
5           France               9         5                             63
6          Germany               9         5                             29
7         Michigan               3         4                             19
8           Greece               7         4                             58
9          Hungary               8         3                             12
10         Iceland               6         5                             24
11           Italy              10         4                             72
12           Jersy               8         3                             54
13           Malta               7         4                             61
14     Netherlands               8         4                             59
15          Poland               6         3                              6
16     Switzerland              10         5                             95
17           Spain               9         5                             84
18          Turkey               8         4                             57

   Most visited city
0             Vienna
1              Sofia
2             Zagreb
3           Limassol
4             Prague
5              Paris
6             Berlin
7          Gibraltar
8             Athens
9           Budapest
10          Reykjavk
11            Venice
12     Atlantic City
13          Valletta
14         Amsterdam
15            Krakow
16              Bern
17         Barcelona
18          Istanbul