In [23]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp310-cp310-win_amd64.whl (7.2 MB)
Requirement already satisfied: numpy>=1.14.6 in c:\users\gians\appdata\roaming\python\python310\site-packages (from scikit-learn) (1.22.2)
Collecting scipy>=1.1.0
  Downloading scipy-1.8.0-cp310-cp310-win_amd64.whl (37.0 MB)
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.1.0 scikit-learn-1.0.2 scipy-1.8.0 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.4 is available.
You should consider upgrading via the 'C:\Program Files\Python310\python.exe -m pip install --upgrade pip' command.

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
ds = pd.read_csv("petrol_consumption.csv")

In [26]:
ds.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [27]:
ds.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

In [28]:
X = ds[['Petrol_tax', 'Average_income', 'Paved_Highways',
       'Population_Driver_licence(%)']]
y = ds['Petrol_Consumption']

In [58]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0)

In [59]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [60]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])
coeff_df

                              Coefficient
Petrol_tax                     -46.430671
Average_income                  -0.073373
Paved_Highways                  -0.007798
Population_Driver_licence(%)  1195.726920

In [61]:
y_pred = regressor.predict(X_test)

In [62]:
df1 = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df1

    Actual   Predicted
29     534  479.529225
4      410  561.289843
26     577  597.110288
30     571  581.837731
32     577  652.458049
37     704  648.345199
34     487  533.148451
40     587  669.287544
7      467  505.397903
10     580  502.185356
11     471  401.182773
31     554  600.809845
33     628  635.772682
27     631  599.634403
47     524  549.054563
2      561  588.079963
46     610  681.262144
18     865  756.927908
15     635  586.614051
28     574  556.258378

In [63]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 53.29158572721129
Mean Squared Error: 4024.2043191323187
Root Mean Squared Error: 63.43661654858587